<?xml version="1.0" encoding="UTF-8"?>

<ns2:menu xmlns:ns2="omp.jhp.menu" version="1.0">
    <menuList>
        <menuItem label="Home" id="home" path="index.xhtml" actionMethod="#"/>
        <menuItem label="JavaEE" id="JavaEE" path="#" actionMethod="#">
            <menuList>
                <menuItem label="JSF" id="JSF" path="#" actionMethod=""/>
                <menuItem label="EJB" id="EJB" path="#" actionMethod=""/>
                <menuItem label="JMS" id="JMS" path="#" actionMethod=""/>
             </menuList>
          </menuItem>
    </menuList>
</ns2:menu>
