<?xml version="1.0" encoding="UTF-8"?>

<ns2:menu xmlns:ns2="omp.jhp.menu" version="1.0">
    <menuList>
        <menuItem label="menu.home" type="menu" name="home" path="home.xhtml" />
        <menuItem label="menu.inquiry" type="menu" name="inquiry"
            path="#">
            <menuList>
                <menuItem label="menu.search.inmate" type="menu" name="Inmate"
                    path="#">
                    <menuList>
                        <menuItem label="menu.inquiry.inmate.task" type="menu"
                            name="inquiryOff" path="#">
                            <menuList>
                                <!-- <menuItem label="menu.search.inmate.profile" type="activity"
                                    name="inquiryoffenderforprofile" path="inquiry/inquiryoffender.xhtml?aname=inmateprofile" />
                                 -->
                                 <menuItem label="menu.search.inmate.profileFull" type="activity"
                                    name="inquiryoffenderforinmateprofilefull" path="inquiry/inquiryoffender.xhtml?aname=inmateprofilefull" />
                            </menuList>
                        </menuItem>
					</menuList>
				</menuItem>
			</menuList>
        </menuItem>
    </menuList>
</ns2:menu>
