<?xml version="1.0" encoding="UTF-8"?>

<ns2:menu xmlns:ns2="omp.jhp.menu" version="1.0">
    <menuList>
        <menuItem label="Home" id="home" path="#" actionMethod="#" beanName="" />
        <menuItem label="JavaEE" id="JavaEE" path="#" actionMethod="doLogin" beanName="login">
            <menuList>
                <menuItem label="JSF" id="JSF" path="#" actionMethod="gotoPage" beanName="jsfBean"/>
                <menuItem label="EJB" id="EJB" path="#" actionMethod="gotoPage" beanName="jsfBean"/>
                <menuItem label="JMS" id="JMS" path="#" actionMethod="gotoPage" beanName="jsfBean"/>
             </menuList>
          </menuItem>
    </menuList>
</ns2:menu>
